body {
    background-color: #000;
    margin: 0px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden
}
/*----------------------------------------------------------------------------------Global*/
/*Janela inicio*/
.janela {
    width: 570px;
    height: 400px;
    min-width: 220px;
    min-height: 62px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #000a;
    padding: 42px 0px 3px 110px;
    box-sizing: border-box;
    box-shadow: 0 0 30px #0008;
    border-radius: 8px;
    border: 1px solid #444;
    backdrop-filter: blur(100px);
    overflow: hidden;
    transform: translateZ(0) translate(-50%, -50%) scale(1);
    resize: both;
    user-select: none;
    z-index: 0;
    display: none
}

.barraJanela {
    background: linear-gradient(to bottom, #333, #222);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px;
    padding-left: 16px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    box-shadow: 0 0 25px #0005
}

.btnJanela {
    position: relative;
    float: left;
    width: 12px;
    height: 12px;
    margin-right: 7px;
    margin-top: 4px;
    cursor: pointer;
    background: linear-gradient(to bottom, #f23, #f238);
    border-radius: 50%
}

.btnJanela::before,
.btnJanela::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #fffb, #fff5);
    cursor: pointer
}

.btnJanela::before {
    left: 20px
}

.btnJanela::after {
    left: 40px
}

.barraJanela z {
    position: relative;
    float: left;
    left: 49px;
    padding: 1px 4px;
    color: #fffa;
    background: linear-gradient(to bottom, #444, #333);
    border: 0px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    margin: -2px 2px
}

.barraJanela z:hover {
    background: #444
}

.barraJanela span {
    color: #fffa;
    font-family: monospace;
    font-size: 14px;
    user-select: none
}

.barraJanela img {
    position: relative;
    float: right;
    right: 2px;
    width: 28px;
    margin: -5px -8px -10px 0px;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
    user-select: none
}

.conteudoJanela {
    background: #363636;
    color: #fffa;
    height: calc(100% + 10px);
    width: 100%;
    top: 0;
    left: 20%;
    right: 0;
    padding: 0px;
    overflow: hidden;
    scrollbar-width: thin;
    box-shadow: 0 0 45px #0005;
    scrollbar-color: #444 #363636;
    border: 1px solid#7777;
    margin: 0px
}

.conteudoJanela object {
    margin: 0px;
    width: 100%;
    height: 100%
}
/*Janela Fim*/
/*--------------------------------------------------*/
/*Barra de Itens inicio*/
.barraGlobal {
    display: flex;
    position: absolute;
    justify-content: center;
    float: left;
    left: 0;
    top: calc(100% - 60px);
    width: 100%;
    user-select: none;
    height: 50px
}

.barraGlobal div{
    box-shadow: 0 0 3px #000b;
    border: 1px solid#999;
    background-color: #1118;
    border-radius: 10px;
    height: calc(100% - 2px);
    overflow: hidden;
    backdrop-filter: blur(50px)
}

.menuGlobal {
    padding: 0 3px;
    margin: 0 10px 0 0
}

.menuGlobal img {
    box-shadow: 0 0 0;
    border: 1px solid#0000;
    width: 42px;
    border-radius: 8px;
    cursor: pointer;
    margin: 2px 0 0 0
}

.menuGlobal img:hover {
    border: 1px solid#fffa
}

.itensGlobal {
    width: 117px;
    overflow: hidden;
    padding: 0px;
    margin: 0
}

.itensGlobal z {
    background: linear-gradient(to bottom, #fff5, #fff0);
    padding: 1px 6px;
    color: #fffc;
    border: 1px solid#999;
    border-top-width: 0;
    border-left-width: 0;
    font-size: 18px;
    font-family: monospace;
    cursor: pointer;
    user-select: none;
    margin: 0
}

.itensGlobal z:hover {
    color: #000c;
    background: #fff
}
/*Barra de Itens fim*/
/*------------------------------------------------------------*/
/*Menu de Icones*/
#tudo {
    height: calc(100% - 200px);
    width: calc(100% - 100px);
    top: calc(50% - 35px);
    padding: 5px 0px 0px 0px;
    color: #fff;
    font-family: monospace;
    font-size: 14px;
    text-align: center;
    resize: none;
    border-radius: 20px;
    border: 0px;
    background-color: #0005
}

#tudo .btnJanela {
    margin: 12px 0px 3px 20px
}

#tudo .conteudoJanela {
    border: 0px;
    background: #0000
}

#tudo .conteudoJanela z {
    display:inline-block;
    background-color: #0005;
    border: 1px solid #aaa7;
    box-shadow: 0 0 10px #0005;
    height:auto;
    width: 115px;
    padding: 9px;
    border-radius: 25px;
    margin: 5px;
    transition: 0.3s
}

#tudo .conteudoJanela z:hover {
    background-color: #0008;
    border: 1px solid #aaac
}

#tudo .conteudoJanela img {
    width: 110px;
    border-radius: 20px;
    box-shadow: 0 0 15px #000a;
    cursor: pointer;
    border: 1px solid #7777
}

#tudo .conteudoJanela z p {
    margin: 0px;
    text-align: center;
    font-family: monospace;
    width: 100%
}
/*Menu de icones fim*/
/*-----------------------------------------------------------------------------------------*/
/*zz-z-*/
zz {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}
zz img {
    margin: 18px 0;
    width: 128px;
    border: none
}

zz z {
    background-color: #2229;
    height: 155px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
    text-align: justify;
    padding: 10px;
    width: 390px
}

zz zy {
    background-color: #0009;
    height: 155px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
    text-align: justify;
    padding: 10px;
    width: 390px
}

zz zy p {
    font-family: monospace;
    font-size: 14px;
    margin: 0;
    color: #00da00
}

zz zy h1 {
    font-family: monospace;
    font-size: 14px;
    margin: 0;
    color: #fffb
}

zz zy strong {
    font-family: monospace;
    margin-right: 238px;
    color: #00c3ff
}
/*zz-z-Fim*/
/*--------------------------------------------------------------------------------Global...*/
/*Itens Comuns*/
h3 {
    font-family: monospace;
    font-size: 20px;
    margin: 4px
}

p {
    font-family: arial;
    font-size: 14px;
    margin: 4px
}

button {
    padding: 4px 18px 8px 18px;
    color: #fffa;
    background: linear-gradient(to bottom, #333, #222);
    border: 1px solid#7777;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin: 2px
}

button:hover {
    background: linear-gradient(to bottom, #444, #333);
    border: 1px solid#777
}

img {
    border: 1px solid#7777;
    margin: 2px
}

object {
    padding: 0px;
    margin: 0px
}
/*Itens Comuns fim*/
/*----------------------------------------------------------------------------*/